Redirect 301 /be/node/10 /be/contacts
Redirect 301 /be/node/13 /en/releases/2.0rc1/handbook
Redirect 301 /be/node/15 /be/about
Redirect 301 /be/node/28 /be/about
Redirect 301 /be.1 /be/about
Redirect 301 /be/node/31 /be/releases/2.0rc2
Redirect 301 /be/node/4 /be/authors
Redirect 301 /be/node/46 /be/releases/2.0rc2
Redirect 301 /be/node/9 /be/download
Redirect 301 /ru/node/28 /ru/about
Redirect 301 /ru/node/33 /ru/about
Redirect 301 /ru/node/34 /ru/authors
Redirect 301 /ru/node/35 /ru/contacts
Redirect 301 /ru/node/36 /ru/download
Redirect 301 /ru/node/37 /ru/releases/2.0rc2
Redirect 301 /ru/node/46 /ru/releases/2.0rc2
Redirect 301 /ru/copyright /copyright
Redirect 301 /en/node/15 /en/about
Redirect 301 /index.html /en/about
Redirect 301 / /en/about
Redirect 301 /be/index.html /be/about
Redirect 301 /ru/index.html /ru/about
Redirect 301 /en/index.html /en/about
Redirect 301 /en/node/10 /en/contacts
Redirect 301 /en/node/4 /en/authors
Redirect 301 /en/node/37 /en/releases/2.0rc2
Redirect 301 /en/node/36 /en/download
Redirect 301 /en/node/35 /en/contacts
Redirect 301 /en/node/33 /en/about
Redirect 301 /en/node/34 /en/authors
Redirect 301 /en/node/9 /en/download
Redirect 301 /en/node/13 /en/releases/2.0rc1/handbook
Redirect 301 /en/node/31 /en/releases/2.0rc2
Redirect 301 /download /en/download
Redirect 301 /about /en/about
Redirect 301 /releases/2.0rc2 /en/releases/2.0rc2
Redirect 301 /authors /en/authors
Redirect 301 /contacts /en/contacts
Redirect 301 /en/releases/2.0rc1 /en/releases/2.0rc1/handbook
Redirect 301 /be/releases/2.0rc1 /be/releases/2.0rc1/handbook
Redirect 301 /ru/releases/2.0rc1 /ru/releases/2.0rc1/handbook
Redirect 301 /wacko /wiki

#RewriteEngine on
#RewriteRule ^forum/(.*)$ /forum/ [R=301,NC,L]
